<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>kk_ga</name>
	<displayName><![CDATA[ Google Analytics - EE]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[ Google Analytics - Enhanced Ecommerce]]></description>
	<author><![CDATA[Kaviarasan K K]]></author>
	<tab><![CDATA[analytics_stats]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
